<div class="drop-files">
  <input type="file" (change)="uploadImage($event)" class="file-field" />
  <div class="upload-text">
    <mat-icon class="material-symbols-outlined upload-icon" fontIcon="upload"></mat-icon>
    <span>Arrastra el archivo o haz click para seleccionar</span>
  </div>
</div>

<div class="tabs" aria-label="Categorías">
  <!-- Todas -->
  <button
    type="button"
    class="tab"
    [class.active]="selectedIndex === 0"
    [attr.aria-selected]="selectedIndex === 0"
    id="tab-all"
    aria-controls="panel-all"
    (click)="selectIndex(0)"
  >
    Todas
  </button>

  <!-- Categorías -->
  @for (category of categories; track category.id; let i = $index) {
    <input
        type="text"
        class="tab"
        [value]="category.name"
        [class.active]="selectedIndex === i + 1"
        [attr.aria-selected]="selectedIndex === i + 1"
        [attr.id]="'tab-cat-' + category.id"
        [attr.aria-controls]="'panel-cat-' + category.id"
        [readonly]="!editCategories"
        (click)="selectCategoryId(category.id)"
      >
      @if (editCategories) {
        <button matIconButton class="delete-category-button"
        (click)="deleteCategory(category)">
          <mat-icon fontIcon="delete"></mat-icon>
        </button>
        <button
          matIconButton 
          (click)="updateCategory(category)"
        >
          <mat-icon class="material-symbols-outlined" fontIcon="save"></mat-icon>
        </button>
      }
  }


  <!-- + Añadir -->
  <button
    type="button"
    class="tab"
    role="tab"
    [class.active]="selectedIndex === (categories?.length || 0) + 1"
    [attr.aria-selected]="selectedIndex === (categories?.length || 0) + 1"
    id="tab-new"
    aria-controls="panel-new"
    (click)="openNewCategoryDialog()"
  >
    <mat-icon class="material-symbols-outlined" fontIcon="add"></mat-icon>
  </button>

  @if ((categories?.length || 0) >= 1){
    @if (!editCategories) {
        <button
          type="button"
          class="tab"
          role="tab"
          [class.active]="selectedIndex === (categories?.length || 0) + 1"
          [attr.aria-selected]="selectedIndex === (categories?.length || 0) + 1"
          id="tab-new"
          aria-controls="panel-new"
          (click)="editCategories = !editCategories"
        >
          <mat-icon class="material-symbols-outlined" fontIcon="edit"></mat-icon>
        </button>
      }
  }
  
</div>


<div class="image-container">
  <div
    *ngFor="let image of images"
    class="image"
    [ngStyle]="{
      'background-image': 'url(' + image.image + ')'
    }">
  </div>
</div>

<ng-template #dialogTpl let-dialogRef="dialogRef" let-data>
  <h1 mat-dialog-title>Nueva categoría</h1>

  <mat-dialog-content>
    <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="newCategoryName" />
  </mat-form-field>
  </mat-dialog-content>

  <div mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close()">Cerrar</button>
    <button mat-raised-button (click)="createCategory()">Aceptar</button>
  </div>
</ng-template>
