
.item-image {
    padding: 30px 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-name {
    font-size: 15px;
    position: relative;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
}

.item-card{
    width: 70px;
    flex: 0 0 auto; /* <- Esto evita que se reduzcan */
    scroll-snap-align: start;
}

.items{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    margin: 0 1rem;
}

.items::-webkit-scrollbar {
    display: none;
}

.item-card-selected {
    box-shadow: 0 0px 10px var(--ion-color-primary);
    transition: all 0.2s ease-in-out;
}
