.botonera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; // o el ancho que necesites
  position: relative;
  top: -4px;
}

.form-stack {
    background-color: white;
    margin: 20px 0;
    text-align: center;
    padding-top: 30px;
}

mat-form-field {
    width: 45%;
    margin: 10px;
}