.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0c6693;
}

mat-card {
  width: 350px;
  padding: 20px;
  background: var(--text-light-color);
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.login-title {
    padding: 20px 0;
    color: var(--primary-color);
}