.bill-card {
    padding: 10px 0;
    width: 90%;
}

.fill-button {
    margin: 10px;
}

.bill-total-text {
    font-weight: bold;
    font-size: x-large;
}

.floating-button {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
    padding: 4px;
    font-size: 20px;

    ion-icon {
        font-size: 24px;
    }
  }

.empty-list-text {
    text-align: center;
    margin-top: 1rem;
    color: var(--ion-color-medium);
}
