<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
<div class="botonera">
    <button  matButton="outlined" color="primary" routerLink="/products">
        <mat-icon>arrow_back</mat-icon> Volver
    </button>

    <button matButton="filled" class="full-width" type="submit" [disabled]="!productForm.valid">
        <mat-icon>save</mat-icon> Guardar
    </button>
</div>

<br>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel expanded="true" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
        <mat-panel-title> Datos del producto </mat-panel-title>
        </mat-expansion-panel-header>

        <div
            (click)="openImageLibrary()"
            class="product-image form-row"
            [ngStyle]="{
            'background-image': 'url(' + productImage?.image + ')'
            }"
        >
            <mat-icon class="material-symbols-outlined image-icon" fontIcon="image"></mat-icon>
        </div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" type="text" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Precio (€)</mat-label>
            <input matInput formControlName="price" type="number" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="category" (selectionChange)="onCategoryChange($event)">
                @for (category of categories; track category) {
                    <mat-option [value]="category.id">{{category.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="type">
                @for (type of types; track type) {
                <mat-option [value]="type.value">{{type.display}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>

<br>
@if (productForm.value.type == 'bundle') {
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel expanded="true" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header class="option-group-accordeon">
            <mat-panel-title> Categorías de opciones </mat-panel-title>
            <button matIconButton (click)="addOptionGroup(); $event.stopPropagation()">
                <mat-icon>add</mat-icon>
            </button>
            </mat-expansion-panel-header>

            <br>

            <div formArrayName="option_groups">
                <mat-accordion class="example-headers-align">
                    @for (group of optionGroups.controls; track group; let gi = $index) {
                        <mat-expansion-panel expanded="true" (opened)="setStep(0)" hideToggle [formGroupName]="gi">
                            <mat-expansion-panel-header class="option-group-accordeon">
                                <mat-panel-title> Categoría de opciones {{ optionGroups.at(gi).value.name }}</mat-panel-title>
                                <button matIconButton (click)="deleteOptionGroup(gi)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </mat-expansion-panel-header>
                            <div>
                                <mat-form-field appearance="outline" style="width:100px">
                                    <mat-label>Orden</mat-label>
                                    <input matInput formControlName="sort_order" type="number" />
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="width:350px">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput formControlName="name" type="text" />
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="width:100px">
                                    <mat-label>Mínimo</mat-label>
                                    <input matInput formControlName="min_choices" type="number" />
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="width:100px">
                                    <mat-label>Máximo</mat-label>
                                    <input matInput formControlName="max_choices" type="number" />
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="width:200px">
                                    <mat-label>Categoría</mat-label>
                                    <mat-select formControlName="source_category" (selectionChange)="onCategoryChange($event)">
                                        @for (category of categories; track category) {
                                            <mat-option [value]="category.id">{{category.name}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                                <button matIconButton (click)="openItemDialog(optionGroups.at(gi).value)">
                                    <mat-icon>settings</mat-icon>
                                </button>
                            </div>
                            <table mat-table [dataSource]="getTableItems(optionGroups.at(gi).value)" class="mat-elevation-z8 custom-table">
                                <!-- Nombre -->
                                <ng-container matColumnDef="sort_order">
                                    <th mat-header-cell *matHeaderCellDef> Orden </th>
                                    <td mat-cell *matCellDef="let item">
                                        item.sort_order
                                    </td>
                                </ng-container>

                                <!-- Apellidos -->
                                <ng-container matColumnDef="product">
                                    <th mat-header-cell *matHeaderCellDef> Producto </th>
                                    <td mat-cell *matCellDef="let item"> {{item.product || '-' }} </td>
                                </ng-container>

                                <!-- Apellidos -->
                                <ng-container matColumnDef="price_delta">
                                    <th mat-header-cell *matHeaderCellDef> Precio </th>
                                    <td mat-cell *matCellDef="let item"> {{item.price_delta || '-' }} € </td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="getItemsColumns()"></tr>
                                <tr mat-row *matRowDef="let row; columns: getItemsColumns();"></tr>

                                </table>
                        </mat-expansion-panel>
                    }
                </mat-accordion>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
}
</form>

<app-image-library-dialog></app-image-library-dialog>

<ng-template #optionGroupItemDialog let-dialogRef="dialogRef" let-data class="image-dialog">
  <mat-dialog-content>
    ouhouh
  </mat-dialog-content>

  <div mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close()">Cerrar</button>
    <button mat-button (click)="dialogRef.close()">Guardar</button>
  </div>
</ng-template>