<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row *ngFor="let row of productRows">
    <ion-col class="sin-padding" [size]="COL_SIZE" *ngFor="let product of row">
      <ion-card>
        <div>
          <div
            [ngStyle]="{
                'background-image': 'url(' + product.image_data?.image + ')',
              }"
            class="product-image">
          </div>
            <ion-text class="product-name">
                {{ product.name }}
            </ion-text>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>