.product-image {
    padding: 60px 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 1rem;
    padding: 1rem;
    grid-auto-rows: 200px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.product {
    width: 150px;
}

.product-name {
    font-size: 18px;
    position: relative;
    top: 3px;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.category-image {
    padding: 30px 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-name {
    font-size: 15px;
    position: relative;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
}

.category-card{
    width: 70px;
    flex: 0 0 auto; /* <- Esto evita que se reduzcan */
    scroll-snap-align: start;
}

.categories{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    margin: 0 1rem;
}

.categories::-webkit-scrollbar {
    display: none;
}

.category-card-selected, .product-card-selected{
    transform: scale(1.05);
    background-color: var(--ion-color-primary-contrast);
    box-shadow: 0 0px 10px var(--ion-color-primary);
    transition: all 0.2s ease-in-out;
}

.product-image {
    padding: 60px 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-name {
    font-size: 18px;
    position: relative;
    top: 3px;
    text-overflow: ellipsis;
     display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.empty-list-text {
    text-align: center;
    margin-top: 1rem;
    color: var(--ion-color-medium);
}

ion-card {
    margin-inline: 10px !important;
    height: 150px;       /* o el valor que necesites */
    width: 90%;         /* ocupa el ancho del ion-col */
    text-align: center;
}

.product-batch {
    background-color: rgba(199, 198, 198, 0.6);
    border-radius: 50%;
    padding: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ion-color-primary-contrast)
}

ion-grid {
    margin: 0px;
}

.product-quantity {
    position: absolute;
    top: 10px;
    left: 10px;
}

.product-less {
    position: absolute;
    top: 10px;
    right: 10px;
}

.quantity-input {
    width: 40px;
    text-align: center;
    font-weight: bold;
    pointer-events: none; // evita edición manual
    background-color: #f4f4f4;
    border-radius: 6px;
  }

.product-text-modal-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    min-height: 48px;
}

.item-wrap {
    width: 100%;
    margin-top: 10px;
}

.complement-item {
    padding: 0px 20px;
}

.complement-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}