<button matButton="outlined" routerLink="/zones/new">
    <mat-icon>add</mat-icon>
    Añadir
</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

  <!-- Nombre -->
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Imagen </th>
    <td mat-cell *matCellDef="let zone">
        <div
          (click)="openImageLibrary()"
          class="zone-image"
          [ngStyle]="{
            'background-image': 'url(' + zone.image_data.image + ')'
          }">
        </div>
    </td>
  </ng-container>

  <!-- Apellidos -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let zone" class="name-col">
      <mat-form-field appearance="outline" *ngIf="zone == editZone">
        <input matInput type="text" [(ngModel)]="zone.name"/>
      </mat-form-field>
      <span *ngIf="!(zone == editZone)">{{zone.name || '-' }}</span>
     </td>
  </ng-container>

    <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="actions-header"></th>
    <td mat-cell *matCellDef="let zone" class="actions-cell"> 
        <button mat-icon-button (click)="onEditZone(zone)" *ngIf="!(zone == editZone)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onSaveEditZone(zone)" *ngIf="zone == editZone">
          <mat-icon>save</mat-icon>
        </button>
    </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<app-image-library-dialog></app-image-library-dialog>