.botonera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; // o el ancho que necesites
  position: relative;
  top: -4px;
}

.form-stack {
    background-color: white;
    margin: 20px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    place-items: center;
}

mat-form-field {
    margin: 10px;
}

.zone-image {
  margin: 5px 0px;
  width: 500px;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px !important;
  
}