<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center-wrapper">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit(loginForm.value)"
      class="form-container"
    >
      <ion-input
        formControlName="dni"
        label="NIF"
        labelPlacement="floating"
        fill="solid">
      </ion-input>

      <ion-input
        formControlName="password"
        label="Password"
        labelPlacement="floating"
        fill="solid"
        type="password"
        >
      </ion-input>

      <ion-button expand="block" [disabled]="!loginForm.valid" class="login-button" type="submit">Iniciar Sesión</ion-button>

    </form>
  </div>
</ion-content>
