<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit(loginForm.value)"
  >
    <ion-list lines="none">
      <ion-item>
        <ion-input
          formControlName="dni"
          label="NIF"
          labelPlacement="floating"
          fill="solid">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          formControlName="password"
          label="Password"
          labelPlacement="floating"
          fill="solid"
          type="password"
          >
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button [disabled]="!loginForm.valid" class="login-button" type="submit">Iniciar Sesión</ion-button>
  </form>
</ion-content>
