.botonera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; // o el ancho que necesites
  position: relative;
  top: -4px;
}

.category-image {
    margin: 5px 0px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px !important;
}

table {
  width: 100%;
  background-color: var(--white-background);
  margin-top: 30px;
  border-radius: 20% !important;
}

.is-active {
    width: 5px;
    height: 100%;
    background-color: green;
}

.actions-cell, .actions-header {
  width: 1%;
  white-space: nowrap;
  text-align: right;
  padding-right: 16px; // opcional, ajusta el espacio con el borde
}

// Opcional: espacio entre botones
.actions-cell button {
  margin-left: 4px;
}

.custom-table {
  // Elimina las líneas entre filas
  .mat-mdc-cell {
    border-bottom: none !important;
    border-bottom-style: none;
  }
}