.sidenav-container {
  min-height: 600px !important;
  max-height: 100% !important;
}

.image {
    margin: 2px 0px;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.5rem; /* espacio entre celdas */
    padding: 1rem;
}

.drop-files {
    position: relative; /* Necesario para posicionar hijos */
    width: 97%;
    margin-left: 2% !important;
    height: 200px;
    border-style: dotted;
    border-radius: 50px;
    margin: 20px 0;
    z-index: 0;
    background-color: var(--white-background);
}

.file-field {
    position: absolute; /* Para que esté encima ocupando todo */
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Por encima del texto para capturar clics */
    cursor: pointer;
}

.upload-text {
    position: absolute; /* Centramos sobre el contenedor */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
    text-align: center;
    z-index: 1; /* Debajo del input invisible */
    pointer-events: none; /* Para que no bloquee el click del input */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.upload-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
}

.categories-sidenav {
  width: 20%;
  background-color: var(--white-background);
}

.category-list {
  display: flex;
  flex-direction: column;
}

.category-text {
  outline: none;
  appearance: none;
  background: none;
  border: none;
  color: black;
  min-width: 0;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 10px !important;
  width: 70%;
}
.add-category-button {
  text-align: center !important;
  border: inherit !important;
}

.active-nav-item {
  background: rgba(0,0,0,0.08) !important;
  border-radius: 10px !important;
}

.add-category-button {
  margin: 3px;
}

.content {
  overflow: hidden;
}

.category-item {
  justify-content: space-between; /* separa el primer hijo a la izq y el último a la dcha */
  align-items: center;
}

.category-more-options-button {
  position: absolute;
  right: 5px;
}

.category-separator {
  height: 10px;
}

.selected-image {
  filter: brightness(50%);
}