

<form [formGroup]="categoryForm" (ngSubmit)="onSubmit(categoryForm.value)">
    <div class="botonera">
        <button mat-stroked-button color="primary" routerLink="/products/categories">
            <mat-icon>arrow_back</mat-icon> Volver
        </button>

        <button mat-raised-button matButton="outlined" class="full-width" type="submit" [disabled]="!categoryForm.valid">
            <mat-icon>save</mat-icon> Guardar
        </button>
    </div>

    <div class="form-stack">
        <div
            (click)="openImageLibrary()"
            class="category-image form-row"
            [ngStyle]="{
            'background-image': 'url(' + categoryImage?.image + ')'
            }"
        >
            <mat-icon class="material-symbols-outlined image-icon" fontIcon="image"></mat-icon>
        </div>
        <div class="form-row">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name" type="text" />
            </mat-form-field>
        </div>
    </div>

</form>

<app-image-library-dialog></app-image-library-dialog>