.content {
  height: 100%;
  padding: 20px;
}

.sidenav {
  width: 20%;
}

.material-symbols-outlined {
  font-size: 22px;
  line-height: 1;
  position: relative;
  top: 5px;
}

.nav-text {
  padding-left: 3px;
}

.nav-separator {
  margin: 20px;
}